# Environment
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/

# Database
*.db
*.sqlite3

# Testing
.pytest_cache/
.coverage
htmlcov/

# Build / dist
*.egg-info/
*.egg
dist/
build/

# IDE / OS
.idea/
.vscode/*
!.vscode/extensions.json
.DS_Store

# Logs
*.log
logs/
node_modules/
